<div ng-controller='ChangePasswordController'>
    <div class="col-xs-12 flex m-t-lg">
        <div class="pull-none w-xxl v-mid-align text-center m-auto padder-v">
            <form name="addForm" novalidate ng-submit="updatePassword(addForm)">
                <div class="w-xxl r-3x b b-2x bg-white box-shadow">
                    <div class="wrapper-xl m-b-sm p-t-none">
                        <h4 class="h4 m-t-xxl m-b-xxl">Change Password</h4>
                        <div class="form-group m-t-sm inner-addon right-addon">
                            <label class="font-bold pull-left">Current Password</label>
                            <i class="fa p-event-auto right-none top25 {{formData.showcurrentpassword ? 'fa-eye-slash':'fa-eye'}}" ng-click="showhidepassword('current');"></i>
                            <input class="form-control" type="{{formData.currenttype}}" placeholder="Current Password" name="oldpassword" ng-model='formData.oldpassword' required ng-minlength="8">
                        </div>
                        <div class="form-group m-t-sm inner-addon right-addon">
                            <label class="font-bold pull-left">New Password</label>
                            <i class="fa p-event-auto right-none top25 {{formData.shownewpassword ? 'fa-eye-slash':'fa-eye'}}" ng-click="showhidepassword('new');"></i>
                            <input class="form-control" type="{{formData.newtype}}" placeholder="New Password" name="newpassword" ng-model='formData.newpassword' required>

                        </div>
                        <div class="form-group m-t-sm inner-addon right-addon">
                            <label class="font-bold pull-left">Confirm Password</label>
                            <i class="fa p-event-auto right-none top25 {{formData.showconfirmpassword ? 'fa-eye-slash':'fa-eye'}}" ng-click="showhidepassword('confirm');"></i>
                            <input class="form-control" type="{{formData.confirmtype}}" placeholder="Confirm Password" name="confirmpassword" ng-model='formData.confirmpassword' required ng-minlength="8">
                        </div>
                        <div class="form-group m-t-lg m-b-lg text-center">
                            
                            <div class="col-xs-6">
                                <button type="button" class="r-3x btn m-b-xs bg-dark m-b-lg" ui-sref="app.home" ng-disabled="loading">Cancel</button>
                            </div>
                            <div class="col-xs-6">
                                <button type="submit" class="r-3x btn m-b-xs m-b-lg bg-main1" ng-disabled="loading">Update</button>
                            </div>
                        </div>
                    </div>
                </div>

            </form>
        </div>
    </div>
</div>