<div ng-controller='ChangePasswordController' >
    <div class="col-xs-12 flex text-center ">
         <div class="bg-white col-xs-12 padder-v">
        <div class="pull-none w-xl v-mid-align text-center m-auto padder-v ">
            <h3 class="h3 m-b">Change Password</h3>
            <form name="addForm" novalidate ng-submit="updatePassword(addForm)">
                <div class="auth-form w-xl r-3x b b-2x   box-shadow bdr-gray">
                    <div class="wrapper text-center m-t">
                        <img class="CP-img" src="img/changepassword.png">
                    </div>
                    <div class="wrapper-lg m-b-sm p-t-none">
                        <div class="form-group">
                            <input class="form-control font-bold" type="text" placeholder="Current Password" name="username" ng-model="user.username" readonly>
                        </div>
                        <div class="form-group m-t-sm inner-addon right-addon">
                            <i class="fa p-event-auto right-none {{formData.showcurrentpassword ? 'fa-eye-slash':'fa-eye'}}" ng-click="showhidepassword('current');"></i>
                            <input class="form-control" type="{{formData.currenttype}}" placeholder="Current Password" name="oldpassword" ng-model='formData.oldpassword' required ng-minlength="8">
                        </div>
                        <div class="form-group m-t-sm inner-addon right-addon">
                            <i class="fa p-event-auto right-none {{formData.shownewpassword ? 'fa-eye-slash':'fa-eye'}}" ng-click="showhidepassword('new');"></i>
                            <input class="form-control" type="{{formData.newtype}}" placeholder="New Password" name="newpassword" ng-model='formData.newpassword' required>

                        </div>
                        <div class="form-group m-t-sm inner-addon right-addon">
                            <i class="fa p-event-auto right-none {{formData.showconfirmpassword ? 'fa-eye-slash':'fa-eye'}}" ng-click="showhidepassword('confirm');"></i>
                            <input class="form-control" type="{{formData.confirmtype}}" placeholder="Confirm Password" name="confirmpassword" ng-model='formData.confirmpassword' required ng-minlength="8">
                        </div>
                    </div>
                </div>
                <div class="form-group m-t-lg text-center">
                    <button type="submit" class="r-3x btn m-b-xs w-sm btn-danger " ng-disabled="loading">Update</button>
                    <button type="button" class="r-3x btn m-b-xs w-sm bg-dark" ui-sref="app.home" ng-disabled="loading">Cancel</button>
                </div>
            </form>
        </div>
    </div>
    </div>
</div>
