<div ng-controller='ChatController'>
    <div class="wrapper-md">
        <div class="chat-wrap bg-white box-shadow b b-2x">
                    <div class="message-head b b-3x bdrc-bg1">
                        <h2>Chat Board </h2>
                        <div class="option">
                            <div class="chatter-img box-shadow b"  background-image="{{IMGURL}}{{RoomData.user1info.avatar}}"></div>
                            <div class="chatter-img box-shadow b"  background-image="{{IMGURL}}{{RoomData.user2info.avatar}}"></div>
                        </div>
                    </div>
                    <div class="col-xs-4  bg-white scroller">
                        <div class="col-xs-12 text-right p-r-none">
                            <button class="btn btn-default btn-xs  m-r-xs r-2x m-t" ng-click="openModal();">Create New Group</button>
                        </div>
                        <div class="col-xs-12 p-r-none p-l-none m-t">
                          <div class="col-xs-6 p-r-none p-l-none"><button class="btn bg-main2 no-radius col-xs-12">Recent</button></div>
                          <div class="col-xs-6 p-l-none p-r-none"><button class="btn bg-main1 no-radius col-xs-12">Search</button></div>
                        </div> 
                        <div class="col-xs-12 text-right p-l-none p-r-none m-t-xs">
                            <div class="form-group m-t-sm inner-addon right-addon">
                                <i class="fa fa-search sm-padder sm-padder-v"></i>
                                <input class="form-control r-3x chatsearch" ng-model="filterData.keyword" type="text" placeholder="search" ng-change="getusers();">
                            </div>
                        </div>
                        <div class="col-xs-12 p-r-none p-l-none sm-padder-v">
                            <div class="col-xs-12 p-l-none box-shadow sm-padder-v" ng-class="{'bg-chat-active': key == filterData.active}" ng-repeat="(key,data) in recentchats" ng-click="changeActive(key,data)">
                                 <div class="chat-search-img pull-left m-r-lg" background-image="{{IMGURL}}{{data.first_user == user.id ? data.user2info.avatar : '' }}{{data.second_user == user.id ? data.user1info.avatar : '' }}"></div>
                                <div class="col-xs-6 p-l-none padder-v font-bold"> {{data.first_user == user.id ? data.user2info.first_name : '' }}{{data.second_user == user.id ? data.user1info.first_name : '' }}</div>
                                <div class="col-xs-1 p-l-none padder-v text-right"> <span class="badge badge-sm bg-danger" ng-if="(data.first_user == user.id && data.first_user_unread > 0) || (data.second_user == user.id && data.second_user_unread > 0)">{{data.first_user == user.id ? data.first_user_unread : '' }}
                                {{data.second_user == user.id ? data.second_user_unread : ''}}</span></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-8">
                        <div class="messenger private-chat ng-isolate-scope" scroll-to-bottom="chatData">
                            <div class="message-wrap" ng-repeat="message in chatData">
                                <div class="message" ng-class="{ 'me' : user.id == message.user_id , 'option-content' : message.isfile }">
                                    <div class="other-img" ng-if="user.id != message.user_id">
                                        <div class="chat-info-img" background-image="{{IMGURL}}{{message.avatar}}"></div>
                                    </div>
                                    <div class="info">
                                        {{message.message}}
                                        <img ng-src="{{IMGURL}}{{message.fileurl}}" ng-click="viewChatImg(message.fileurl);" alt="Chat" ng-if="message.isfile">
                                        <div class="time-left">
                                            <span>{{ message.created_at | amDateFormat: 'DD-MMM-YY hh:mm a' }}</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="sender p-b-none m-t">
                            <div class="msg-text">
                                <a class="small-btn"><i class="fa fa-smile-o"></i></a>
                                <input type="text" placeholder="Send something..." aria-invalid="false"  ng-model="chatMessage.message" my-enter="sendReplymessage()">
                                <a class="small-btn" ngf-select ngf-drop ngf-multiple="false" ngf-accept="'image/*'" ngf-capture="capture" ngf-allow-dir="allowDir" class="drop-box1" ngf-drop-available="dropAvailable" ngf-change="sendchatattachment($files);"><i class="fa fa-paperclip"></i></a>
                            </div>
                            <div class="chat-btn" tabindex="0" ng-click="sendReplymessage()"><i class="fa fa-send"></i></div>
                        </div>
                    </div>
        </div>
    </div>

    <div class="modal fade" id="PopupModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-backdrop="static" data-keyboard="false" data-modalFade="true">
      <div class="modal-dialog" role="document" style="width: 70%;">
         <div class="modal-content wrapper-md">
            <form class="form-horizontal" name="addForm" novalidate ng-submit="addData(addForm);">
               <div class="modal-header b-no text-center">
                  <button type="button" class="close" ng-click="closeModal();" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                  <h4 class="modal-title m-t-md" id="myModalLabel">Add Your Travel Details</h4>
               </div>
               <div class="modal-body">
                  <div class="form-group">
                     <div class="col-sm-6">
                        <label>Traveller Full Name<code>*</code></label>
                        <small class="pull-right text-danger" ng-if="errorData.name_error">{{errorData.name_errorMsg}}</small>
                        <input type="text" name="name" class="form-control r-2x" ng-model="formData.name" placeholder="Enter Full Name" required ng-change="inputchange()">
                     </div>
                     <div class="col-sm-6">
                        <label>Phone Number<code>*</code></label>
                        <small class="pull-right text-danger" ng-if="errorData.phone_number_error">{{errorData.phone_number_errorMsg}}</small>
                        <input type="text" name="phone_number" class="form-control r-2x" ng-model="formData.phone_number" valid-number placeholder="Enter Phone Number" required ng-change="inputchange()">
                     </div>
                  </div>
                  <div class="form-group">
                     <div class="col-sm-6">
                        <label>Email <code>*</code></label>
                        <small class="pull-right text-danger" ng-if="errorData.email_error">{{errorData.email_errorMsg}}</small>
                        <input type="email" name="email" class="form-control r-2x" ng-model="formData.email" placeholder="Enter Email ID" required ng-change="inputchange()">
                     </div>
                     <div class="col-sm-6">
                        <label class="font-bold">Travle Date <code>*</code></label>
                        <small class="pull-right text-danger" ng-if="errorData.travel_date_error">{{errorData.travel_date_errorMsg}}</small>
                        <div class="input-group" ng-controller="DatepickerDemoCtrl">
                           <input type="text" class="form-control" datepicker-popup="{{format}}" ng-model="formData.travel_date" is-open="opened" datepicker-options="dateOptions" close-text="Close" placeholder="DD/MM/YYYY" name="travel_date" ng-click="open($event)" required readonly/>
                           <span class="input-group-btn">
                           <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                           </span>
                        </div>
                     </div>
                  </div>
                  <div class="form-group">
                     <div class="col-sm-6">
                        <label>Flight Name<code>*</code></label>
                        <small class="pull-right text-danger" ng-if="errorData.flight_name_error">{{errorData.flight_name_errorMsg}}</small>
                        <input type="text" name="flight_name" class="form-control r-2x" ng-model="formData.flight_name" placeholder="Enter Flight Name" required ng-change="inputchange()">
                     </div>
                     <div class="col-sm-6 form-time-picker" ng-controller="TimepickerDemoCtrl">
                        <label>Arrival Time</label>
                        <timepicker ng-model="formData.arrival_time" hour-step="hstep" minute-step="mstep" min="min" max="max" show-meridian="true"></timepicker>
                     </div>
                  </div>
                  <div class="form-group">
                     <div class="col-sm-6">
                        <label>Restriction Food</label>
                        <input type="text" name="restriction_food" class="form-control r-2x" ng-model="formData.restriction_food" placeholder="Enter Restriction Food">
                     </div>
                     <div class="col-sm-6">
                        <label>Comments</label>
                        <textarea class="form-control r-2x" rows="3" name="comments" ng-model="formData.comments"></textarea>
                     </div>
                  </div>
               </div>
               <div class="modal-footer text-center b-no">
                  <div class="col-xs-12 text-center ">
                     <button type="button" class="btn btn-primary no-border  m-auto bg-dark w-xs" ng-click="closeModal()" ng-disabled="loading">Cancel</button>
                     <button type="submit" class="btn btn-primary no-border  m-auto bg-main1 w-xs" button-spinner="loading" ng-disabled="loading">Add</button>
                  </div>
               </div>
            </form>
         </div>
      </div>
   </div>
</div>