<div ng-controller='NotificationController' >
    <div class="wrapper-md p-t-none p-b-none m-t">
    <div class="panel panel-default r-3x">
        <div class="panel-heading r-3x r-b-none bg-main2 text-center">
            <span class="font-bold ">Notifications</span>
        </div>
        <div class="bg-white padder r-b-6x" ng-scrollbars ng-scrollbars-config="scrollconfig">
            <div class="row">
                <div class="bg-white col-xs-12 padder-v no-padder m-t">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 m-b" dir-paginate="(key,data) in notifications.data | itemsPerPage: totalPerPage" total-items="notifications.total" current-page="pagination.current">
                        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 p-l-none">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 sm-padder-v" ng-class="data.status ? 'bg-tbcolor' : 'bg-main1'">{{key + 1}}</div>
                        </div>
                        <div class="col-lg-10 col-md-10 col-sm-10 col-xs-8  sm-padder-v text-ellipsis cursor" ng-class="data.status ? 'bg-tbcolor' : 'bg-main1'" ng-click="gotoNotification(key,data);">
                            {{data.message}}
                        </div>
                        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-3 p-r-none">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12"><button class="btn btn-md btn-icon btn-danger" ng-click="removeNotification(key,data)"><i class="fa fa-trash"></i></button></div>
                        </div>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12" ng-if="notifications.total  ==  0">
                        <div class="w-full text-center bg-white wrapper-lg m-t-md margin_mid">
                            <h4>No Notifications Found</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>