<!-- list -->
<ul class="nav">
   <li class="hidden-folded padder m-t m-b-sm text-muted text-xs">
   </li>
   <li class="line dk"></li>
   <li>
      <a ui-sref="app.dashboard" class="auto">      
      <span class="pull-right text-muted">
      </span>
      <i class="glyphicon glyphicon-stats icon text-info-dker"></i>
      <span class="font-bold">Dashboard</span>
      </a>
   </li>
   <li ui-sref-active="active">
      <a ui-sref="app.radiojockey" class="auto">      
      <span class="pull-right text-muted">
      </span>
      <i class="fa fa-microphone icon text-info-dker"></i>
      <span class="font-bold">Radio Jockey</span>
      </a>
   </li>

   <li ui-sref-active="active">
      <a ui-sref="app.programs" class="auto">      
      <span class="pull-right text-muted">
      </span>
      <i class="fa fa-list icon text-info-dker"></i>
      <span class="font-bold">Programs</span>
      </a>
   </li>

   <li ng-class="{active: $state.includes('app.lineups')}">
      <a href class="auto">
      <span class="pull-right text-muted">
      <i class="fa fa-fw fa-angle-right text"></i>
      <i class="fa fa-fw fa-angle-down text-active"></i>
      </span>
      <i class="fa fa-music icon text-info-dker"></i>
      <span class="font-bold">Line Up</span>
      </a>
      <ul class="nav nav-sub dk">
         <li class="nav-sub-header">
            <a>
            <span>Line Up</span>
            </a>
         </li>
         <li ng-repeat="(key,day) in weekdays" ng-class="{active: $stateParams.key == key }">
            <a ui-sref="app.lineups({key: key})" class="auto">      
            <i class="fa fa-dot-circle-o icon text-info-dker"></i>
            <span class="text-capital">{{day}}</span>
            </a>
         </li>
      </ul>
   </li>
   <li>
      <a ng-click="logout();">
      <i class="glyphicon glyphicon-log-out icon text-info-dker"></i>
      <span class="font-bold">Logout</span>
      </a>
   </li>
</ul>