<div ng-controller="TBPInfoController">
    <div class="wrapper-md">
        <div class="panel panel-default r-3x m-t-md">
            <div class="panel-heading r-3x r-b-none bg-main2 text-center">
                <span class="font-bold">{{tbp.title}}</span>
            </div>
            <div class="bg-white padder-v padder">
                <div class="row">
                    <div class="col-md-4 col-lg-4 col-sm-4 col-xs-12 wrapper-md p-t-none m-t-sm">
                        <div class="bg-white sm-padder-v sm-padder col-md-12 col-lg-12 col-sm-12  col-xs-12 ">
                            <div class="col-md-12 col-lg-12 col-sm-12 padder-v bg-white b-light b b-2x r-3x">
                                <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 no-padder">
                                    <h5 class="font-bold"> Invitation </h5>
                                </div>
                                <div class="line b-b line-lg m-t-none m-b-none b-2x"></div>
                                <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 b-b b-light p-r-none p-l-none sm-padder-v" ng-repeat="(no,invitation) in tbp.invitations track by $index"> {{invitation.name}} <a class="btn btn-warning r-2x padd-xs pull-right b-no" ng-href="{{IMGURL}}{{invitation.file}}" download="{{invitation.file.split('/').pop()}}" target="_blank"><i class="fa fa-download"></i></a>
                                </div>
                            </div>
                        </div>

                        <div class="bg-white sm-padder-v sm-padder col-md-12 col-lg-12 col-sm-12  col-xs-12" ng-if="tbp.type == 1">
                            <div class="col-md-12 col-lg-12 col-sm-12 padder-v bg-white b-light b b-2x r-3x">
                                <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 no-padder">
                                    <h5 class="font-bold"> TBP Reports </h5>
                                </div>
                                <div class="line b-b line-lg m-t-none m-b-none b-2x"></div>
                                <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 b-b b-light p-r-none p-l-none sm-padder-v" ng-repeat="(no,type) in tbp_uploads"> {{type.type}} 
                                    <a class="btn btn-default bdrc-bg2 padd-xs pull-right b-no" ngf-select ngf-drop ngf-max-size="2MB" ngf-model-invalid="invalidFiles" ngf-model-options="modelOptionsObj" ngf-multiple="false" ngf-accept="'application/pdf,application/xls,application/xlsx,application/csv'" ngf-capture="capture" ngf-drag-over-class="dragOverClassObj" ngf-ignore-invalid="ignoreInvalid" ngf-allow-dir="allowDir" ngf-drop-available="dropAvailable" ngf-change="uploadReport(type.id,$files);">Upload</i></a>

                                    <a class="btn btn-warning r-2x padd-xs pull-right b-no m-r-xxl" ng-if="type.fileurl" ng-href="{{IMGURL}}{{type.fileurl}}" download="{{type.fileurl.split('/').pop()}}" target="_blank"><i class="fa fa-download"></i></a>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-8 col-lg-8 col-sm-8 col-xs-12 wrapper-md p-t-none m-t-sm">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 m-t-md" ng-if="tbp.survey_link">
                            <div class="m-b-sm">
                                <h5 class="font-bold"> Survey Link : <a class="h6 font-bold text-black" ng-href="{{tbp.survey_link}}" target="_blank"><span class="text-info font-bold text-xs">{{tbp.survey_link}}</span></a></h5>
                            </div>
                        </div>

                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" ng-if="tbp.videocount > 0 || tbp.video_links.length > 0">
                            <div class="m-b-sm m-t-sm">
                                <a class="h5 font-bold text-black">Watch Videos</a>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6 m-b-sm p-l-none" ng-repeat="(key,data) in tbp.tbp_files" ng-if="data.filetype == 'video'">
                                <div class="mbit-img box-shadow b pos-rlt">
                                    <video width="100%" height="100%" controls>
                                        <source ng-src="{{getVideoUrl(data.file)}}" type="video/{{data.file.substr(data.file.length - 3)}}">
                                    </video>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 m-b-sm p-l-none" ng-repeat="(key,data) in tbp.video_links">
                                <div class="mbit-img box-shadow b pos-rlt">
                                    <anguvideo ng-model="data" width="100%" height="100%"></anguvideo>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" ng-if="tbp.imagecount > 0">
                            <div class="m-b-sm m-t-sm">
                                <a class="h5 font-bold text-black">Images</a>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6 m-b-sm p-l-none" ng-repeat="(key,data) in tbp.tbp_files" ng-if="data.filetype == 'image'">
                                <div class="mbit-img box-shadow b pos-rlt">
                                    <div class="mbit-img box-shadow b" background-image="{{IMGURL}}{{data.file}}"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>