<div ng-controller="EventsController">
    <div class="wrapper-md p-t-none p-b-none m-t">
        <div class="panel panel-default r-3x">
            <div class="panel-heading r-3x r-b-none bg-main2 p-b-none">
                <div class="btn-group dropdown mobile-visible">
                    <button type="button" class="btn no-shadow b-no  btn-default text-capt active" data-toggle="dropdown" aria-expanded="false">
                        {{activetab}} Events
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" ng-if="!loading">
                        <li><a ng-click="changeActive('all')">All Events</a></li>
                        <li><a ng-click="changeActive('upcoming')">Upcoming Events</a></li>
                        <li><a ng-click="changeActive('past')">Past Events</a></li>

                    </ul>
                </div>
                <button class="btn no-shadow b-no btn-default panel-tab web-visible" ng-class="{'active': activetab == 'all'}" ng-click="changeActive('all')">All Events</button>
                <button class="btn no-shadow b-no btn-default panel-tab web-visible" ng-class="{'active': activetab == 'upcoming'}" ng-click="changeActive('upcoming')">Upcoming Events</button>
                <button class="btn no-shadow b-no btn-default panel-tab web-visible" ng-class="{'active': activetab == 'past'}" ng-click="changeActive('past')">Past Events</button>

                <li class="dropdown pull-right list-none" dropdown ng-if="activetab!='create'">
                    <a href class="dropdown-toggle clear" dropdown-toggle ng-class="{'m-t-xs' : isMobile}">
                        <i class="fa fa-filter pull-right"></i>
                    </a>
                    <!-- dropdown -->
                    <ul class="dropdown-menu animated fadeInRight">
                        <li ng-if="filterData.sortkey"><a ng-click="sortData('','')"><i class="fa fa-repeat m-r-sm"></i> <small>Reset</small></a></li>
                        <li><a ng-click="sortData('title','asc')"><i class="fa fa-sort-alpha-asc m-r-sm"></i> <small>Event Name ASC</small></a></li>
                        <li><a ng-click="sortData('title','desc')"><i class="fa fa-sort-alpha-desc m-r-sm"></i> <small>Event Name DSC</small></a></li>
                        <li><a ng-click="sortData('start_date','asc')"><i class="fa fa-sort-alpha-asc m-r-sm"></i> <small>Date ASC</small></a></li>
                        <li><a ng-click="sortData('start_date','desc')"><i class="fa fa-sort-alpha-desc m-r-sm"></i> <small>Date DSC</small></a></li>
                    </ul>
                    <!-- / dropdown -->
                </li>
            </div>
            <div class="bg-white padder r-b-6x" ng-scrollbars ng-scrollbars-config="scrollconfig">
                <div class=" row m-t">
                    <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12  " dir-paginate="(key,data) in events.data | itemsPerPage: totalPerPage" total-items="events.total" current-page="pagination.current">
                        <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 m-t wrapper-lg  box-shadow b b-2x bg-white cursor r-3x" ui-sref="app.viewevent({'id':data.id})">
                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 p-r-none m-p-n">
                                <div class="mbite-img box-shadow b" background-image="{{IMGURL}}{{data.cover_image}}"></div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 p-r-none m-p-n">
                                <div class="">
                                    <a class="h5 font-bold text-black">{{data.title}}</a>
                                    <small class="block ev-des m-t-xs"> {{data.description | cut:true:580:'....'}} <b class="text-info m-l-md text-xs" ng-if="data.description.length > 580">Read More</b></small>
                                </div>
                                <div class="m-t-xs">
                                    <div class="col-xs-12 p-l-none"><a class="font-bold text-black text-xs">Workshop Contents</a> </div>

                                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 m-t-xs p-l-none">
                                        <button class="btn btn-default r-2x padd-xs min-w-60 bdr-bg1 c-bg-2 text-too-small">Presentation </button>
                                        <a class="btn btn-warning r-2x padd-xxs" ng-href="{{IMGURL}}{{data.file}}" download="{{data.file.split('/').pop()}}" target="_blank"><i class="fa fa-download"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 p-r-none m-p-n">
                                <div class="col-xs-12 p-l-none m-b-xs"><a class="font-bold text-black text-xs">Time & Venue</a> </div>

                                <div class="mbit-venue bdr-bg1 bg-main1 m-t-lg text-center text-too-small">
                                    <div class="col-xs-12 h5 m-t font-bold">{{convertDate(data.start_date) | date:'dd MMMM yyyy'}}</div>
                                    <div class="col-xs-12 h5 m-t-xs">{{convertDate(data.start_date) | date:'EEEE'}}</div>
                                    <div class="col-xs-12 h5 m-t"><strong>{{convertDate(data.start_time) | date:'hh:mm a'}} </strong> to <strong>{{convertDate(data.end_time) | date:'hh:mm a'}}</strong> </div>
                                    <div class="col-xs-12 h5 m-t">{{data.location | cut:true:30:'...'}}</div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-12 col-md-12 col-sm-12" ng-if="events.total  ==  0">
                        <div class="w-full text-center bg-white wrapper-lg m-t-md margin_mid">
                            <h4>No Events Found</h4>
                        </div>
                    </div>
                </div>
                <div class="row m-b-md">
                    <div class="col-lg-12 col-md-12 col-sm-12" ng-if="events.last_page > 0 && !loading">
                        <dir-pagination-controls on-page-change="pageChanged(newPageNumber)" class="pagination-ctrl"></dir-pagination-controls>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>