<div ng-controller="EventInfoController">
    <div class="wrapper-md p-t-none p-b-none m-t-md">
        <div class="panel panel-default r-3x m-t-md">
            <div class="panel-heading r-3x r-b-none bg-main2 text-center">
                <span class="font-bold">Event Details</span>
            </div>

            <div class="bg-white  padder scroller">
                <div class="row m-t m-b">
                    <div class="col-md-6 col-lg-6 col-sm-6 col-xs-12 wrapper-md p-t-none m-t-sm">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12 p-l-none p-r-none">
                                <div class="m-b-sm">
                                    <a class="h5 font-bold text-black">{{event.title}}</a>
                                </div>
                                <div class="mbit-img box-shadow b" background-image="{{IMGURL}}{{event.cover_image}}"></div>
                            </div>
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 m-t-md" ng-if="event.survey_link">
                            <div class="m-b-sm">
                                <a class="h6 font-bold text-black" ng-href="{{event.survey_link}}" target="_blank">Survey Link : <span class="text-info font-bold text-xs">{{event.survey_link}}</span></a>
                            </div>
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 m-t-sm">
                            <div class="btn-group btn-group-justified event-info-b">
                                <a class="btn btn-sm m-sm btn-warning b-r">{{convertDate(event.start_date) | date:'dd MMMM yyyy'}}</a>
                                <a class="btn btn-sm m-sm btn-warning b-l b-r">{{convertDate(event.start_date) | date:'EEEE'}}</a>
                                <a class="btn btn-sm m-sm btn-warning b-l">{{convertDate(event.start_time) | date:'hh:mm a'}} to {{convertDate(event.end_time) | date:'hh:mm a'}}</a>
                            </div>
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 m-t-sm" ng-if="event.end_date">
                            <div class="btn-group btn-group-justified  event-info-b">
                                <a class="btn btn-sm m-sm btn-warning b-r">{{convertDate(event.end_date) | date:'dd MMMM yyyy'}}</a>
                                <a class="btn btn-sm m-sm btn-warning b-l b-r">{{convertDate(event.end_date) | date:'EEEE'}}</a>
                                <a class="btn btn-sm m-sm btn-warning b-l">{{convertDate(event.start_time) | date:'hh:mm a'}} to {{convertDate(event.end_time) | date:'hh:mm a'}}</a>
                            </div>
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 m-t-sm" ng-if="event.location">
                            <div class="btn-group btn-group-justified event-info-b">
                                <a class="btn btn-sm m-sm btn-warning bg-main2">{{event.location}}</a>
                            </div>
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 m-t-sm">
                            <ng-map center="{{event.latitude}},{{event.longitude}}" map-type-control="false" zoom="10" draggable="false" class="m-t-sm">
                                <marker position="{{event.latitude}},{{event.longitude}}" animation="BOUNCE">
                                </marker>
                            </ng-map>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-6 col-sm-6 col-xs-12 wrapper-md p-t-none m-t-sm">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="m-b-sm">
                                <a class="h5 font-bold text-black">About Event</a>
                            </div>
                            <div class="m-b-sm">
                                <p>{{event.description}}</p>
                            </div>
                        </div>

                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" ng-if="event.videocount > 0">
                            <div class="m-b-sm m-t-sm">
                                <a class="h5 font-bold text-black">Watch Videos</a>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 m-b-sm p-l-none" ng-repeat="(key,data) in event.event_files" ng-if="data.filetype == 'video'">
                                <div class="mbit-img box-shadow b pos-rlt">
                                    <video width="100%" height="100%" controls>
                                        <source ng-src="{{getVideoUrl(data.file)}}" type="video/{{data.file.substr(data.file.length - 3)}}">
                                    </video>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" ng-if="event.imagecount > 0">
                            <div class="m-b-sm m-t-sm">
                                <a class="h5 font-bold text-black">Images</a>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 m-b-sm p-l-none" ng-repeat="(key,data) in event.event_files" ng-if="data.filetype == 'image'">
                                <div class="mbit-img box-shadow b pos-rlt">
                                    <div class="mbit-img box-shadow b" background-image="{{IMGURL}}{{data.file}}"></div>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" ng-if="event.event_documents.length > 0">
                            <div class="m-b-sm m-t-sm">
                                <a class="h5 font-bold text-black">Event Contents</a>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 m-b p-l-none" ng-repeat="(key,data) in event.event_documents">
                                <button class="btn btn-default r-2x padd-xs min-w-60">Presentation {{key + 1}}</button>
                                <a class="btn btn-warning r-2x padd-xs" ng-href="{{IMGURL}}{{data.file}}" download="{{data.file.split('/').pop()}}" target="_blank"><i class="fa fa-download"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 m-t-sm m-b-md">
                            <div class="col-md-3 col-lg-3 col-sm-3 col-xs-6">
                                <div class="input-group pull-left">
                                    <button class="btn btn-md btn-warning" ng-click="openaddModal();"> {{event.travelinfo ? 'Change Your travel Details' : 'Add Your travel Details'}}</button>

                                </div>
                            </div>
                            <div class="col-md-6 col-lg-6 col-sm-6">
                            </div>
                            <div class="col-md-3 col-lg-3 col-sm-3 col-xs-3 inner-addon right-addon">

                            </div>
                        </div>
                    <div class="col-xs-12 padder-lg">
                        <div class="b-t m-b col-xs-12">
                            <div class="m-t">
                                <div class="col-sm-2 color-main-1 p-l-none">
                                    <i class="icon-like m-r-xs"></i> 23 Likes
                                </div>
                                <div class="col-sm-2 color-main-1 p-l-none">
                                    <i class="fa fa-comment m-r-xs"></i> 8 Comments
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

     <div class="modal fade" id="PopupModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-backdrop="static" data-keyboard="false" data-modalFade="true">
        <div class="modal-dialog" role="document" style="width: 70%;">
            <div class="modal-content wrapper-md">
                <form class="form-horizontal" name="addForm" novalidate ng-submit="addData(addForm);">
                    <div class="modal-header b-no text-center">
                        <button type="button" class="close" ng-click="closeModal();" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title m-t-md" id="myModalLabel">Add Your Travel Details</h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <div class="col-sm-6">
                                <label>Traveller Full Name<code>*</code></label>
                                <small class="pull-right text-danger" ng-if="errorData.name_error">{{errorData.name_errorMsg}}</small>
                                <input type="text" name="name" class="form-control r-2x" ng-model="formData.name" placeholder="Enter Full Name" required ng-change="inputchange()">
                            </div>

                            <div class="col-sm-6">
                                <label>Phone Number<code>*</code></label>
                                <small class="pull-right text-danger" ng-if="errorData.phone_number_error">{{errorData.phone_number_errorMsg}}</small>
                                <input type="text" name="phone_number" class="form-control r-2x" ng-model="formData.phone_number" valid-number placeholder="Enter Phone Number" required ng-change="inputchange()">
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-sm-6">
                                <label>Email <code>*</code></label>
                                <small class="pull-right text-danger" ng-if="errorData.email_error">{{errorData.email_errorMsg}}</small>
                                <input type="email" name="email" class="form-control r-2x" ng-model="formData.email" placeholder="Enter Email ID" required ng-change="inputchange()">
                            </div>

                            <div class="col-sm-6">
                                            <label class="font-bold">Travle Date <code>*</code></label>
                                            <small class="pull-right text-danger" ng-if="errorData.travel_date_error">{{errorData.travel_date_errorMsg}}</small>
                                            <div class="input-group" ng-controller="DatepickerDemoCtrl">
                                                <input type="text" class="form-control" datepicker-popup="{{format}}" ng-model="formData.travel_date" is-open="opened" datepicker-options="dateOptions" close-text="Close" placeholder="DD/MM/YYYY" name="travel_date" ng-click="open($event)" required readonly/>
                                                <span class="input-group-btn">
                                                    <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                                                </span>
                                            </div>
                                    </div>
                        </div>

                        <div class="form-group">
                            <div class="col-sm-6">
                                <label>Flight Name<code>*</code></label>
                                <small class="pull-right text-danger" ng-if="errorData.flight_name_error">{{errorData.flight_name_errorMsg}}</small>
                                <input type="text" name="flight_name" class="form-control r-2x" ng-model="formData.flight_name" placeholder="Enter Flight Name" required ng-change="inputchange()">
                            </div>

                            <div class="col-sm-6 form-time-picker" ng-controller="TimepickerDemoCtrl">
                                <label>Arrival Time</label>
                                <timepicker ng-model="formData.arrival_time" hour-step="hstep" minute-step="mstep" min="min" max="max" show-meridian="true"></timepicker>
                            </div>
                        </div>


                        <div class="form-group">
                            <div class="col-sm-6">
                                <label>Restriction Food</label>
                                <input type="text" name="restriction_food" class="form-control r-2x" ng-model="formData.restriction_food" placeholder="Enter Restriction Food">
                            </div>
                            <div class="col-sm-6">
                                <label>Comments</label>
                                <textarea class="form-control r-2x" rows="3" name="comments" ng-model="formData.comments"></textarea>
                            </div>
                        </div>

                    </div>
                    <div class="modal-footer text-center b-no">
                        <div class="col-xs-12 text-center ">
                        <button type="button" class="btn btn-primary no-border  m-auto bg-dark w-xs" ng-click="closeModal()" ng-disabled="loading">Cancel</button>
                        <button type="submit" class="btn btn-primary no-border  m-auto bg-main1 w-xs" button-spinner="loading" ng-disabled="loading">Add</button>
                        
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>