<div ng-controller="CalendarCtrl">
    <div class="wrapper-md p-t-none p-b-none m-t flex calendar-page">
        <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 m-auto m-p-n">
        <div class="panel panel-default r-3x">
            <div class="panel-heading r-3x r-b-none bg-main2 p-b-none text-center">
                Calendar
            </div>
            <div class="bg-white padder r-b-6x">
                <div class=" row">
                    <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 m-p-n">
                        <div class="col-md-12 col-sm-12 col-lg-12 col-xs-12 " ng-if="!loading">
                            <div class="calendar " ng-model="eventSources" config="uiConfig.calendar" ui-calendar="uiConfig.calendar"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </div>
</div>