<div class="hbox hbox-auto-xs hbox-auto-sm">
    <!-- main -->
    <div ng-controller="DashboardCtrl">
        <div class="panel panel-default r-3x m-t-md m-l">
            <div class="panel-heading r-3x r-b-none bg-main2 text-center">
                What's New
            </div>
            <div class="bg-white padder-v padder vbox">
                <slick ng-if="!loading" init-onload="false" data="dummyarray" settings="slickConfig">
                    <div class="col-md-3 col-lg-2 col-sm-3 col-xs-6 " ng-repeat="(key,data) in dummyarray">
                        <div class="col-xs-12 bg-main1 text-center"> test</div>
                        <div class="col-xs-12 m-b sm-padder padder-v bg-white b bdrc-bg-2">
                            <div class="col-xs-12 sm-padder">
                                <div class="dis-img box-shadow b r-3x" style="background-image:url('img/Image-1.png')">&nbsp;</div>
                            </div>
                            <div class="col-xs-12 sm-padder">
                                <div class="m-t-xs">
                                    <a href="" class="h5 font-bold">Bootstrap documents</a>
                                </div>
                                <div class="m-t-xs">
                                    <div class="mbit-dt text-left inline ">date</div>
                                    <div class="mbit-dt pull-right text-ellipsis inline m-t-xs c-bg-2">location</div>
                                    <div class="clear"></div>
                                </div>
                                <small class="block mebit-desc m-t-xs text-justify"> particular needs.particular needs.particular needs.particular needs.particular needs.particular needs.particular needs.particular needs.</small>
                                <div class="m-b m-t">
                                    <button class="btn btn-default btn-xs w-xs btn-danger r-2x read_more pull-left text-u-c">Know More</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </slick>

            </div>
        </div>

        <div class="col-lg-7 col-md-7 col-sm-12 col-xs-12 m-t-md">
            <div class="panel panel-default r-3x">
                <div class="panel-heading r-3x r-b-none bg-dark">
                    Calendar
                </div>
                <div class="col-md-12 col-sm-12 col-lg-12 col-xs-12 bg-white m-b-md" ng-if="!loading">
                    <div class="calendar" ng-model="eventSources" config="uiConfig.calendar" ui-calendar="uiConfig.calendar"></div>
                </div>
            </div>
        </div>

        <div class="col-md-5 col-lg-5 col-sm-12 col-xs-12 m-t-md">
            <div class="panel panel-default r-3x ">
                <div class="panel-heading r-3x r-b-none bg-dark">
                    Pending Users approvals <span class="pull-right cursor" ui-sref="app.users({type:'pending'})">Show All</span>
                </div>
                <div class="col-md-12 col-sm-12 col-lg-12 col-xs-12 bg-white vbox">

                    <div class="col-md-12 col-sm-12 col-lg-12 col-xs-12 m-t padder-v bg-white r-3x box-shadow b" ng-repeat="(key,data) in homeData.users track by $index" ng-class="{'m-b-md': $last }">
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 p-n-l p-n-r">
                            <div class="usr-img box-shadow b" background-image="{{IMGURL}}{{data.avatar}}"></div>
                        </div>
                        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 p-n-r">
                            <a href="" class="h6 font-bold">{{data.first_name}} {{data.last_name}}</a>
                            <small class="block"> {{data.email}}</small>
                            <small class="block"> {{data.phone}}</small>
                            <div class="m-t">
                                <button class="btn btn-default btn-xs btn-success m-r-xs r-2x w-xxs" ng-click="changeUserStatus(data.id, data.status);">Approve</button>
                                <button class="btn btn-default btn-xs btn-warning m-r-xs r-2x w-xxs" ng-click="changeUserStatus(data.id, data.status);">Block</button>
                                <button class="btn btn-default btn-xs btn-danger r-2x w-xxs" ng-click="deleteuserData(data)">Delete</button>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-12 col-md-12 col-sm-12" ng-if="homeData.users.length  ==  0">
                        <div class="w-full text-center bg-white wrapper-lg m-t-md m-b-md b b-2x r-2x">
                            <h4>No recent users</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-12 col-sm-12 col-lg-6 col-xs-12 m-t-sm">
            <div class="panel panel-default r-3x">
                <div class="panel-heading r-3x r-b-none bg-main1">
                    Upcomming MEBIT <span class="pull-right cursor" ui-sref="app.events({type:'upcoming'})"> Show All</span>
                </div>
                <div class="col-md-12 col-sm-12 col-lg-12 col-xs-12 bg-white vbox">
                    <div class="col-md-12 col-sm-12 col-lg-12 col-xs-12 m-t padder-v bg-white r-3x box-shadow b" ng-repeat="(key,data) in homeData.events track by $index" ng-class="{'m-b-md': $last }">
                        <div class="col-lg-5 col-md-4 col-sm-4 col-xs-4 p-n-l p-n-r">
                            <div class="mbit-img box-shadow b" background-image="{{IMGURL}}{{data.cover_image}}"></div>
                        </div>
                        <div class="col-lg-7 col-md-8 col-sm-8 col-xs-8 p-n-r">
                            <div class="m-b">
                                <a href="" class="h6 font-bold">{{data.title}}</a>
                                <small class="block"> {{data.description | cut:true:50:'....'}}</small>
                            </div>
                            <div class="m-b">
                                <span class="mbit-dt text-left">{{convertDate(data.start_date) | date:'dd MMM yyyy'}}</span>
                                <span class="mbit-dt pull-right">{{data.location}}</span>
                                <div class="clear"></div>
                            </div>
                            <div class="m-b">

                                <button class="btn btn-default btn-xs btn-danger r-2x read_more pull-left" ui-sref="app.viewevent({'id':data.id})">Read More</button>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-12 col-md-12 col-sm-12" ng-if="homeData.events.length  ==  0">
                        <div class="w-full text-center bg-white wrapper-lg m-t-md m-b-md b b-2x r-2x">
                            <h4>No recent Events</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-12 col-sm-12 col-lg-6 col-xs-12 m-t-sm">
            <div class="panel panel-default r-3x">
                <div class="panel-heading r-3x r-b-none bg-main2">
                    Upcomming TBP <span class="pull-right cursor" ui-sref="app.tbps({type:'1'})">Show All</span>
                </div>
                <div class="col-md-12 col-sm-12 col-lg-12 col-xs-12 bg-white vbox">
                    <div class="col-md-12 col-sm-12 col-lg-12 col-xs-12 bg-white r-3x" ng-class="{'m-b-md': $last }" ng-repeat="(key,data) in homeData.tbps track by $index">
                        <div class="panel panel-default r-3x m-t-md">
                            <div class="panel-heading r-3x r-b-none bg-main1 tex-center">
                                {{data.title}}
                                <button class="btn btn-default btn-xs bg-main2 pull-right b-no" ui-sref="app.viewtbp({'id':data.id})">View More</button>
                            </div>
                            <div class="bg-white wrapperr col-md-12 col-lg-12 col-sm-12 col-xs-12 b b-2x">
                                <div class="col-md-12 col-lg-12 col-sm-12 padder-v bg-white b-light b b-2x r-3x tbp-container m-t-sm m-b-sm">
                                    <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 b-b b-dark p-r-none p-l-none sm-padder-v font-bold"> Invitation </div>
                                    <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 b-b b-light p-r-none p-l-none sm-padder-v" ng-repeat="(no,invitation) in data.invitations | limitTo:3"> {{invitation.name}} <a class="btn btn-default btn-xs bdrc-bg2 pull-right b-no" ng-href="{{IMGURL}}{{invitation.file}}" download="{{invitation.file.split('/').pop()}}" target="_blank">Download</a>
                                    </div>
                                    <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 p-r-none p-l-none sm-padder-v" ng-repeat="(no,invitation) in dummyarray | limitTo:( 3 - data.invitations.length)" ng-if="data.invitations.length < 3"> <span class="text-white">dummy</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12" ng-if="homeData.tbps.length  ==  0">
                        <div class="w-full text-center bg-white wrapper-lg m-t-md m-b-md b b-2x r-2x">
                            <h4>No recent TBP</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>